@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(255, 0, 0, 0.07);
}

/* Dropdown */
/* .dropdown-container {
  width: 10.5em;
  margin: 0 auto;
} */

.dropdown-header {
  margin-bottom: 0.8em;
  padding: 0.4em 2em 0.4em 1em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 1.3rem;
  color: #3faffa;
  background: #ffffff;
}

.dropdown-list {
  padding: 1rem;
  margin: 0;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  color: #3faffa;
  font-size: 1.3rem;
  font-weight: 500;
  position: absolute;
  overflow-y: scroll;
  height: 400px;
}

.dropdown-list:first-child {
  padding-top: 0.8em;
}

.list-item {
  list-style: none;
  margin-bottom: 0.8em;
  cursor: pointer;
}

.list-item:hover {
  text-decoration: underline;
  background-color: rgba(156, 190, 242, 0.488);
}
/* Accordion */
.accordion {
  margin: 2rem auto;
}

.accordion-item {
  margin-bottom: 1rem;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.accordion-title:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: rgba(255, 255, 255, 0.75);
}
