@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter Regular";
  src: url("../public/fonts/Inter-Regular.woff2") format("woff2"),
    url("../public/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Medium";
  src: url("../public/fonts/Inter-Medium.woff2") format("woff2"),
    url("../public/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("../public/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../public/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  src: url("../public/fonts/Inter-Bold.woff2") format("woff2"),
    url("../public/fonts/Inter-Bold.woff") format("woff");
}

* {
  --primary: #313131;
  --body: #f4f7f5;
}

body {
  background-color: var(--body);
  font-family: "Inter Regular", Arial, Helvetica, sans-serif;
}

/* Language switcher */
.language-switcher {
  position: relative;
  display: inline-block;
  width: calc(32px * 2);
  height: 32px;
  -webkit-transition: transform 0.17s cubic-bezier(0.26, 0.48, 0.08, 0.9);
  -moz-transition: transform 0.17s cubic-bezier(0.26, 0.48, 0.08, 0.9);
  -ms-transition: transform 0.17s cubic-bezier(0.26, 0.48, 0.08, 0.9);
  -o-transition: transform 0.17s cubic-bezier(0.26, 0.48, 0.08, 0.9);
  transition: transform 0.17s cubic-bezier(0.26, 0.48, 0.08, 0.9);
}

.language-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

.language-switcher .select-fr,
.language-switcher .select-en {
  position: absolute;
  font-size: 12.8px;
  top: 8px;
  color: #fff;
  mix-blend-mode: difference;
}

.language-switcher .select-fr {
  /* left: 9.14285714285px; */
  left: 7px;
}

.language-switcher .select-en {
  right: 8px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  box-shadow: 0 3px 64px rgba(var(--primary), 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 3px 64px rgba(var(--primary), 0.16);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

.slider.round {
  border-radius: 64px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dropdown */
.dropdown-header {
  margin-bottom: 0.8em;
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); */
  font-weight: 500;
  color: var(--primary);
  background: #ffffff;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .dropdown-header {
    padding: 0.4em 2em 0.4em 1em;
  }
}

.dropdown-list {
  padding: 1rem;
  margin: 0;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  color: var(--primary);
  font-weight: 500;
  position: absolute;
  overflow-y: scroll;
  height: 400px;
  width: 100%;
  z-index: 1;
}

.dropdown-list:first-child {
  padding-top: 0.8em;
}

.list-item {
  list-style: none;
  margin-bottom: 0.8em;
  cursor: pointer;
}

.list-item:hover {
  text-decoration: underline;
}

/* Accordion */
.accordion {
  margin: 2rem auto;
}

.accordion-item {
  margin-bottom: 1rem;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.accordion-title:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: rgba(255, 255, 255, 0.75);
}
