@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter Regular";
  src: url("../public/fonts/Inter-Regular.woff2") format("woff2"),
    url("../public/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Medium";
  src: url("../public/fonts/Inter-Medium.woff2") format("woff2"),
    url("../public/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("../public/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../public/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  src: url("../public/fonts/Inter-Bold.woff2") format("woff2"),
    url("../public/fonts/Inter-Bold.woff") format("woff");
}

* {
  --primary: #313131;
  --body: #f4f7f5;
}

body {
  background-color: var(--body);
  font-family: "Inter Regular", Arial, Helvetica, sans-serif;
}

/* Dropdown */
.dropdown-header {
  margin-bottom: 0.8em;
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); */
  font-weight: 500;
  color: var(--primary);
  background: #ffffff;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .dropdown-header {
    padding: 0.4em 2em 0.4em 1em;
  }
}

.dropdown-list {
  padding: 1rem;
  margin: 0;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  color: var(--primary);
  font-weight: 500;
  position: absolute;
  overflow-y: scroll;
  height: 400px;
  width: 100%;
  z-index: 1;
}

.dropdown-list:first-child {
  padding-top: 0.8em;
}

.list-item {
  list-style: none;
  margin-bottom: 0.8em;
  cursor: pointer;
}

.list-item:hover {
  text-decoration: underline;
}
